---
import Flipcard from "./Flipcard.astro"
---

<section class="flex flex-col gap-y-7">
    <h2 class="text-4xl font-extrabold text-left">
        ¿Quienes somos?
    </h2>

    <article class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-x-6 gap-y-12 text-center">
        {Array.from(Array(6).keys()).map(() => (
            <Flipcard />
        ))}
    </article>
</section>